@font-face {
  font-family: "ptsans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "ptsansbold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "ptsans";
  font-size: 15px;
}

main,
header,
footer {
  margin: 0 auto;
  width: 1200px;
}

a {
  text-decoration: none;
  color: inherit;
}

h3 {
  font-family: "ptsansbold";
  font-weight: 700;
}
p {
  font-family: "ptsans";
}
button {
  font-family: "ptsansbold";
  color: #fff;
  font-weight: 700;
  border-radius: 4px;
}

legend {
  font-family: "ptsansbold";
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
}

header {
  font-family: "ptsansbold";
  line-height: 26px;
  font-weight: 700;
  font-size: 20px;
  height: 65px;
  padding-right: 70px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.header-navigation {
  display: flex;
}

.site-navigation-list,
.user-navigation {
  display: flex;
  align-items: center;
}

.site-navigation-list li {
  margin-left: 35px;
}
.user-navigation {
  margin-left: auto;
}
.user-navigation button:nth-child(3) {
  margin-right: 0;
}

.user-navigation-btn {
  background: none;
  border: none;
  margin-right: 24px;
}

.action {
  background-color: #756157;
  padding: 0 45px;
  margin-left: 32px;
  height: 37px;
}

.site-navigation-list li:nth-child(2) {
  border-width: 2px;
  padding-top: 15px;
  padding-bottom: 14px;
  border-color: #756157;
  border-bottom-style: solid;
}

.main {
  background-image: url(../img/index-background.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 1200px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main {
  padding-top: 20px;
}

.main img:nth-child(2) {
  margin-top: 11px;
}
.main img:nth-child(3) {
  margin-top: 53px;
}
.main img:nth-child(4) {
  margin-top: 16px;
}

.main-features-div {
  margin-left: 230px;
  margin-right: 230px;
  text-align: center;
  padding-top: 63px;
  padding-bottom: 90px;
  font-size: 22px;
  line-height: 26px;
}

.main-features-div span {
  display: block;
  font-family: "ptsansbold";
  text-transform: uppercase;
  padding-bottom: 31px;
  font-size: 30px;
  line-height: 36px;
}
.features-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.features-list h3 {
  font-family: "ptsansbold";
  text-transform: uppercase;
}
.features-list-first,
.features-list-second {
  display: flex;
}

.features-list p {
  margin: 0;
  padding: 0;
  margin-top: 30px;
}

.features-list-text {
  background-color: #83b3d3;
  text-align: center;
  color: #fff;
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 92px;
  padding-bottom: 92px;
}

.additional-features {
  display: flex;
}
.additional-features li {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-right: 85px;
  padding-left: 85px;
}

.additional-features li:nth-child(1),
.additional-features li:nth-child(3) {
  background: rgba(131, 179, 211, 0.12);
}

.features-list-next {
  display: inline-block;
  padding: 102px 85px;
}
.three {
  width: 230px;
  background-color: rgba(131, 179, 211, 0.12);
  text-align: center;
  float: left;
}

.four {
  width: 230px;
  text-align: center;
  background-color: rgba(131, 179, 211, 0.2);
  float: left;
}
.five {
  width: 230px;
  text-align: center;
  background-color: rgba(131, 179, 211, 0.12);
}

.subscribe {
  text-align: center;
  padding-top: 91px;
  padding-bottom: 105px;
}
.subscribe span {
  line-height: 36px;
  font-size: 30px;
}
.subscribe p {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 56px;
}

.sub-btn {
  color: #fff;
  background: #756157;
  border: none;
  border-radius: 4px;
  padding: 10px 148px;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 36px;
}

.feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(../img/background.png);
  height: 411px;
  text-align: center;
  color: #fff;
}
.feedback span,
.feedback-catalog span {
  line-height: 36px;
  font-size: 30px;
}
.feedback p,
.feedback-catalog p {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 46px;
}

.feedback input,
.feedback-catalog input {
  padding: 19px;
  border-radius: 10px 0px 0px 10px;
  width: 600px;
  border: none;
  background-color: rgba(242, 242, 242, 1);
}

.action-button {
  font-family: "ptsansbold";
  background-color: #83b3d3;
  border-radius: 0px 10px 10px 0px;
  padding: 17px;
  border: none;
  width: 200px;
  margin-left: -4px;
}

footer {
  display: flex;
  padding-top: 40px;
  padding-bottom: 30px;
}
.social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.social li {
  margin-right: 27px;
}
.social li:nth-child(3) {
  margin-right: 250px;
}
.contacts-phone {
  margin-right: 235px;
  font-family: "ptsans";
  line-height: 40px;
  font-weight: 400;
  font-size: 40px;
  color: #000;
}

.filters-list {
  background-image: url(../img/index-background.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #fff;
}
.social {
  color: #83b3d3;
}

.form-action {
  display: none;
}

.site-navigation-list-catalog li:nth-child(2) {
  border: none;
}
.site-navigation-list-catalog li:nth-child(4) {
  border-width: 2px;
  padding-top: 15px;
  padding-bottom: 14px;
  border-color: #756157;
  border-bottom-style: solid;
}

.filters {
  background: url(/img/index-background.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 1200px;
  height: 500px;
}
.filters-list {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 35px;
  padding-bottom: 70px;
}

.breadcrumbs {
  margin-top: 10px;
  margin-bottom: 40px;
}
.breadcrumbs li {
  display: inline-block;
}

.filters-list div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  padding: 0;
}
.filters-coast,
.filters-infrastructure,
.filters-housing {
  display: flex;
  border: none;
}

.filters-infrastructure {
  padding: 0;
  margin-right: 70px;
  padding-top: 30px;
}
.filters-infrastructure li {
  margin-bottom: 15px;
}
.filters-housing {
  padding: 0;
  margin-right: 170px;
  padding-top: 30px;
}
.filters-housing li {
  margin-bottom: 15px;
}
.filters-coast {
  padding: 0;
  margin-right: 70px;
  align-items: stretch;
}

.filters-coast {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.filters-coast-div {
  position: relative;
  border: 2px solid #fff;
  border-radius: 2px;
  font-size: 13px;
}
.filters-coast-div::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background-color: #fff;
  transform: translate(-50%, -50%);
}
.filters-coast-div input {
  background: none;
  display: inline-block;
  border: none;
  color: inherit;
  font: inherit;
  margin: 0;
}
.range-controls {
  position: relative;
  background-color: rgb(155, 155, 155);
  margin-top: 32px;
}
.range-controls .scale {
  width: 80%;
  height: 2px;
  background: #fff;
}
.bar {
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #fff;
}
.bar:nth-child(2) {
  position: relative;
  left: 80%;
}

.confirmation {
  display: flex;
  flex-direction: column;
}
.confirmation button {
  border: none;
  background-color: #83b3d3;
  padding: 0px 15px;
  margin-left: 70px;
  height: 48px;
}
.confirmation button:nth-child(2) {
  background: none;
  font-family: "ptsans";
  font-weight: 400;
}

.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 72px;
  padding-right: 71px;
  padding-bottom: 50px;
}
.result p {
  text-transform: uppercase;
  font-family: "ptsansbold";
  font-size: 30px;
}

.sorting-list {
  display: flex;
}
.sorting {
  border-color: rgba(229, 229, 229, 1);
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 129px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 18px;
}
.sorting option {
  font-family: "ptsans";
  font-size: 18px;
  line-height: 21px;
}
.sorting-button {
  border-color: rgba(229, 229, 229, 1);
  border-radius: 4px;
}
.catalog {
  padding-left: 73px;
}
.catalog-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 66px;
}
.catalog-card {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
}
.catalog-card-link h3 {
  font-size: 24px;
  line-height: 28px;
}
.catalog-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.life-inf-stars {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.coast-like-reating {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.catalog-card-information {
  font-family: "ptsansbold";
  text-transform: uppercase;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  padding: 9px 15px;
  margin-bottom: 16px;
  color: #fff;
  background: #756157;
}
.catalog-card-like {
  font-family: "ptsansbold";
  text-transform: uppercase;
  font-size: 16px;
  background-color: #83b3d3;
  border: none;
  border-radius: 4px;
  padding: 9px 15px;
  margin-bottom: 16px;
}
.reating {
  background-color: rgba(242, 242, 242, 1);
  padding: 9px 23px;
  border-radius: 4px;
}

.feedback-catalog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
  margin-top: 105px;
  color: #000;
}

.item-list {
  border-top: rgba(230, 230, 230, 1) 1px solid;
  width: 1055px;
  padding-top: 30px;
}
.page,
.item-list {
  display: flex;
}
.item-list p {
  margin-left: 270px;
  margin-right: 31px;
}
.catalog-number {
  border-color: rgba(229, 229, 229, 1);
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 129px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 18px;
}

.page-item a,
.page-item span {
  display: flex;
  color: #fff;
  background-color: #83b3d3;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-left: 8px;
}
